
  .btn {
    cursor: pointer;
    transition-duration: 0.4s;
    color: white;
    margin: 5px;
  }

  .form-group {
    margin: 10px;
  }

  .red {
    margin-top: 5px;
    margin-left: 5px;
  }
/*
  .active, .collapsible:hover {
    background-color: #555;
  }*/
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  #errorlogin {
    color: rgb(252, 252, 252);
    font-size: 1em;
  }

  #erroremail {
    color: rgb(252, 252, 252);
    font-size: 0.9em;
    margin-top: 5px;
    margin-left: 15px;
  }

  #errorpassword {
    color: rgb(252, 252, 252);
    font-size: 0.9em;
    margin-top: 5px;
    margin-left: 15px;
  }

  #burger {
    margin-bottom: 10px;
  }

  #login {
    background-color: #366e9d;
  }

  #login:hover{
    background-color: #4da8f3;
  }

  #reg {
    background-color: darkgreen;
  }

  #reg:hover {
    background-color: rgb(5, 170, 5);
  }

  #admin {
    background-color: black;
  }
 
  #admin:hover {
    background-color: rgb(112, 108, 108);
  }

  @media screen and (max-width: 600px){
    #login {
      background-color: #366e9d;
      width: 100%;
      margin: 0%;
      margin-bottom: 10px;
    }

    #reg {
      background-color: darkgreen;
      width: 100%;
      margin: 0%;
      margin-bottom: 10px;
    }

    #admin {
      background-color: black;
      width: 100%;
      margin: 0%;
    }
  }
